.footer {
    padding: 2.5em 0em !important;

    &--logo{
        width: 200px !important;
    }

    &--social {

        margin-top: 1rem !important;

        &--icons {
            font-size: 24px !important;
        }
    }
}