.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profile {
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    overflow: hidden;

    &__img {
        width: 100%;
        height: 100%;
        transform: scale(1.2);;
    }
}


.skill {

    &--hed {
        
    }

    &--list {

        &--item {

        }
    }
}