.project {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    flex-wrap: wrap;

    &--learning,
    &--work {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}