@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

body {
    background-image: url("../assets/pexels-adrien-olichon-2387793.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.main-body {
    min-height: 31.25rem;
    margin-bottom: 2rem;
}

h1 {
    font-size: 1.5rem;
    font-weight: 900;
}

h2 {
    font-size: 1.125rem;
    font-weight: 500;
}

h3 {
    font-size: 1.125rem;
    font-size: 0.875rem;
}

h4 {
    font-size: 1.125rem;
    font-size: 0.75rem;
}

p {
    line-height: 1.125rem;
}